In [6]:
%load_ext sql
%sql mysql+mysqlconnector://root:Idly2004@localhost/url_shortner

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [14]:
%%sql
show databases;

   mysql+mysqlconnector://root:***@localhost/test
 * mysql+mysqlconnector://root:***@localhost/url_shortner
11 rows affected.

[('de_project',),
 ('hackathon',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('test',),
 ('uber',),
 ('url_shortner',),
 ('world',)]

In [15]:
%%sql
use url_shortner;

   mysql+mysqlconnector://root:***@localhost/test
 * mysql+mysqlconnector://root:***@localhost/url_shortner
0 rows affected.

[]

In [19]:
%%sql
show tables

   mysql+mysqlconnector://root:***@localhost/test
 * mysql+mysqlconnector://root:***@localhost/url_shortner
0 rows affected.

[]

In [17]:
%%sql
SELECT DATABASE();

   mysql+mysqlconnector://root:***@localhost/test
 * mysql+mysqlconnector://root:***@localhost/url_shortner
1 rows affected.

[('url_shortner',)]

In [20]:
%%sql
create table url_mapping(
    id int AUTO_INCREMENT PRIMARY KEY,
    long_url TEXT NOT NULL,
    short_url varchar(10) UNIQUE NOT NULL,
    clicks INT DEFAULT 0,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

   mysql+mysqlconnector://root:***@localhost/test
 * mysql+mysqlconnector://root:***@localhost/url_shortner
0 rows affected.

[]

In [21]:
%%sql
show tables

   mysql+mysqlconnector://root:***@localhost/test
 * mysql+mysqlconnector://root:***@localhost/url_shortner
1 rows affected.

[('url_mapping',)]

In [22]:
%%sql
desc url_mapping;

   mysql+mysqlconnector://root:***@localhost/test
 * mysql+mysqlconnector://root:***@localhost/url_shortner
5 rows affected.

[('id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('long_url', 'text', 'NO', '', None, ''),
 ('short_url', 'varchar(10)', 'NO', 'UNI', None, ''),
 ('clicks', 'int', 'YES', '', '0', ''),
 ('created_at', 'timestamp', 'YES', '', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED')]

In [30]:
%%sql
select * from url_mapping;

   mysql+mysqlconnector://root:***@localhost/test
 * mysql+mysqlconnector://root:***@localhost/url_shortner
2 rows affected.

[(1, 'https://www.youtube.com/watch?v=fhoDRB53DwY&list=PLu0W_9lII9agq5TrH9XLIKQvv0iaF2X3w&index=12', 'kv5Vhw', 5, datetime.datetime(2025, 4, 1, 13, 1, 32)),
 (2, 'https://www.codewithharry.com/tutorial/html-semantic-tags/', 'nMR987', 1, datetime.datetime(2025, 4, 1, 13, 16, 59))]

In [24]:
%%sql
SELECT DATABASE();

   mysql+mysqlconnector://root:***@localhost/test
 * mysql+mysqlconnector://root:***@localhost/url_shortner
1 rows affected.

[('url_shortner',)]